* {
  box-sizing: border-box;
  z-index: 1;
  font-family: Courier;
  color: #cccccc;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

.bg,
.bg2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 0;
  position: fixed;
  margin: 0;
  padding: 0;
}

.bg {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0a/The_Great_Wave_off_Kanagawa.jpg");
  opacity: 1;
}

.bg2 {
  background-color: black;
  opacity: 0.9;
}

header div a {
  display: flex;
  margin-left: 0;
  padding: 0;
  font-size: 46px;
  border: 1px solid blue;
  height: 40px;
  width: 40px;
  border-radius: 25px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.fa-font:before {
  font-family: roboto;
  color: black;
  /*color: #429bf4;*/
  content: "k";
  font-size: 40px;
  text-decoration: none;
}

.kaggle_icon {
  background-color: #cccccc;
}

.icon:hover {
  color: rgb(102, 153, 255);
}

.kaggle_icon:hover {
  background-color: rgb(102, 153, 255);
}

.body_wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 4%;
}

aside {
  flex: 1;
  padding: 3% 0;
}

aside div {
  margin: 0 0 5%;
  text-align: center;
  width: 100%;
  min-width: 100px;
}

aside div a {
  text-decoration: underline;
}

aside div a:hover {
  color: rgb(102, 153, 255);
}

aside div:active {
  color: green;
}

#app {
  flex: 3;
  width: 100%;
  min-width: 300px;
}

header {
  font-family: Courier;
  color: #cccccc;
  margin: 4% 2% 0 0;
  padding: 0 4%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#header_bottom {
  height: 0%;
  width: 92%;
  border-bottom: 1px solid white;
  margin: 0 auto;
}

#name {
  font-size: 35px;
  flex: 10;
  flex-wrap: no-wrap;
  min-width: 300px;
  text-align: center;
}

#header_links {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-evenly;
}
