<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>JOHN CONWAY</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="bg"></div><div class="bg2"></div>
<header>
  <div id="name">JOHN P CONWAY</div>
  <div id="header_links">
    <a href="https://github.com/JPatrick9793"><span class="fa fa-github-square icon"></span></a>
    <a href="https://www.linkedin.com/in/john-p-conway/"><span class="fa fa-linkedin-square icon"></a></span>
  </div>
</header>
<div id="header_bottom"></div>
<div class="body_wrapper">
    <aside>
      <div><a href="/Resume">Resume</a></div>
      <div><a href="/Projects">Projects</a></div>
      <div><a href="/Skills">Skills</a></div>
      <div><a href="/About_me">About_me</a></div>
      <div><a href="/Contact_me">Contact_Me</a></div>
    </aside>
    <div id="main">
      
      <h2>OBJECTIVE</h2>
      <p>
        Committed and highly motivated engineer seeking to develop 
        my knowledge of Machine Learning techniques and applications 
        through the pursuit of higher education.
      </p>
      
      <br>
      
      <h2>EDUCATION</h2>
      <h4>Bachelor of Science, Industrial Engineering <i>2011-2015</i></h4>
      <p>University of Massachusetts, Amherst</p>
      <ul>
        <li>Engineering Management Minor</li>
        <li>Division 1 swimmer</li></ul>
      
      <h4>Additional Education and Certificates</h4>
      <p>ColumbiaX Artificial Intelligence MicroMasters <i>2018</i></p>
      <ul>
        <li>Animation and CGI Motion</li>
        <li>Robotics</li>
        <li>Machine Learning</li>
        <li>Artificial Intelligence</li></ul>
      <p>Udacity — Deep Learning Nanodegree <i>2018</i></p>
      <p>Udacity — Full Stack Web Developer Nanodegree <i>2017</i></p>
      <p>Intern Engineer — State of New York (Certificate # 093489) <i>2017</i></p>
      
      <br>
      
      <h2>SKILLS</h2>
      <p>Proficient — Python (Flask, Keras), Java, SQL, HTML/CSS, MIPS, Git</p>
      <p>Familiar    — C++, JavaScript (ReactJS, Knockout), ApacheHTTP</p>
      
      <br>
      
      <h2>PROFESSIONAL EXPERIENCE</h2>
      
      <h4>S&S Fire Suppression Systems</h4>
      <h6>Service Project Manager <i>2016 - Present</i></h6>
      <p>Created and Implemented the Service Project Manager position. 
        Directed and managed more than 100 service contract projects from 
        sale to completion, generating over $500,000 revenue annually on average.  
        Responsible for coordination between designers, general contractors, 
        sub-contractors, and field technicians to ensure quality service and 
        timely completion of projects.</p>
      
      <h6>Design Engineer <i>2015 - 2016</i></h6>
      <p>Developed and tested models for alternate fire protection system designs 
        to optimize hydraulic performance and reduce the cost of installation. 
        Prepared stock lists for fabrication and material orders for projects.</p>
      
    </div>
  </div>
<!--<footer>Footer</footer>-->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/react/16.2.0/umd/react.development.js'></script>

  

</body>

</html>
